.input-section {
    width: 70%;
    margin: 40px auto 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-area{
        width: 70%;
        .input-line{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 40px;
            input{
                width: 49%;
                border-radius: 0%;
                border: 1px rgb(183, 183, 183) solid;
                height: 40px;
                font-size: 14px;
                padding-left: 17px;
                margin-bottom: 12px;
            }
        }
        .second-input{
            input{
                    width: 100%;
                    border-radius: 0%;
                    border: 1px rgb(183, 183, 183) solid;
                    height: 40px;
                    font-size: 14px;
                    padding-left: 17px;
                    margin-bottom: 12px;
        }
        }
        .third-input{
            textarea{
                width: 100%;
                border-radius: 0%;
                border: 1px rgb(183, 183, 183) solid;
                height: 120px;
                font-size: 14px;
                padding-left: 17px;
                margin-bottom: 12px;
            }
        }
        .send-button{
            button{
                padding: 12px 50px;
                color: white;
                background: orangered;
                border: 1px orangered solid;
            }
        }
        .area-title{
            font-size: 16px;
            font-weight: 600;
            color: #1c1c1c;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;
        }
        .area-title::after{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 43px;
            height: 2px;
            background: #ff4200;
            content: '';
            
        }
    }
    .right-area{
        width: 30%;
        padding-left: 20px;
        .address{
            padding-top: 40px;
            ul{
                list-style-type: none;
                li{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    font-weight: 600;
                    color: #b8b8c1;
                    line-height: 30px;
                    padding-left: 28px;
                    margin-bottom: 13px;
                    position: relative;
                }
                li::before{
                    top: 12px;
                    left: 0;
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    content: "";
                    background: #ff4200;
                }
            }
        }
        .area-title{
            font-size: 16px;
            font-weight: 600;
            color: #1c1c1c;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;
        }
        .area-title::after{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 43px;
            height: 2px;
            background: #ff4200;
            content: '';
        }

    }
}