.about-section{
    background-image: url('/images/about/main_slider_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    margin-top: 73px;
    margin-bottom: 80px;
    width: 90%;
    margin: 0 auto;
    .section-title{
        padding-top: 140px;
        padding-bottom: 50px;
        font-size: 30px;
        letter-spacing: 0.2em;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    .row{
        width: 70%;
        margin: 0 auto;
        display: flex;
        .about-section-text{
            width: 50%;
            padding-right: 45px;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            line-height: 2;
            font-weight: 400;
            color: white;
        }
        .progress-wrapper{
            width: 50%;
            padding-right: 35px;
            .text-area{
                width: 90%;
                display: flex;
                justify-content: space-between;
                p{
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.3rem;
                    margin-top: 18px;
                    color: #FFFFFF;
                    font-size: 11px;
                }
            }
        }

    }
}